.gif{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5%;
}
p{
    margin-left: 30%;
    margin-right: 10%;
}
.fin{
    color: rgb(128, 2, 2);
    margin-left: 30%;
    margin-right: 10%;
}